<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>737963305019-3v60mmbff2q8a44vt2771uvt4eeuc8j1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737963305019-3v60mmbff2q8a44vt2771uvt4eeuc8j1</string>
	<key>API_KEY</key>
	<string>AIzaSyDncwrK8IU2U4KXjxgmo89ptX6-6QYuViU</string>
	<key>GCM_SENDER_ID</key>
	<string>737963305019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cetasolApp</string>
	<key>PROJECT_ID</key>
	<string>cetasol-guide-app</string>
	<key>STORAGE_BUCKET</key>
	<string>cetasol-guide-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737963305019:ios:ac98b569b70b76a8eed41e</string>
</dict>
</plist>